.Mandal {
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Mandal th {
  text-align: center;
}

.Mandal td {
  text-align: center;
}

@media (max-width: 680px) {
  .Mandal {
    width: calc(100vw - 2rem);
    overflow-x: auto;
  }

  .Mandal td {
    white-space: nowrap;
  }

  .Mandal th {
    white-space: nowrap;
  }
}
