.AllReceipts {
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.AllReceipts th {
  text-align: center;
}

.AllReceipts td {
  text-align: center;
}

@media (max-width: 680px) {
  .AllReceipts {
    width: calc(100vw - 2rem);
    overflow-x: auto;
  }

  .AllReceipts td {
    white-space: nowrap;
  }

  .AllReceipts th {
    white-space: nowrap;
  }
}
