.AssignPad {
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.AssignPad th {
  text-align: center;
}

.AssignPad td {
  text-align: center;
}

@media (max-width: 680px) {
  .AssignPad {
    width: calc(100vw - 2rem);
    overflow-x: auto;
  }

  .AssignPad td {
    white-space: nowrap;
  }

  .AssignPad th {
    white-space: nowrap;
  }
}
