.addreceipt {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: whitesmoke;
}

.addreceipt .disc{
    font-size: 0.8rem !important;
    color: gray;
    margin-top: 0.5rem;
}