.navbar {
  z-index: 1001;
  background-color: #faf7f3 !important;
}

.footer {
  display: none;
}

.footer .container-fluid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer .icons {
  justify-items: center;
  > .icon {
    width: 50px;
    padding: 3px;
  }
  > svg {
    fill: black;
  }
  > p b {
    color: black;
    font-size: 11px !important;
  }
}

.footer a.active {
  > .icon {
    background-color: #6d0616;
    border-radius: 50px;
  }
  > .icon svg {
    fill: white !important;
  }
  > p b {
    color: #6d0616;
    /* font-size: 12px !important; */
  }
}

@media (max-width: 1000px) {
  .footer {
    display: block;
    position: fixed;
    z-index: 1001;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.236);
    border-bottom: none;
  }
}
